.logo {
  font-size: 1.1em;
  color: #000;
  font-weight: 600;
  white-space: nowrap;
}

ul li {
  list-style: none;
  font-size: 0.7em;
}

ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-weight: 600;
}

ul li a:hover {
  color: rgb(22, 76, 255);
}

.social-media {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-media:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

.section-2 {
  margin-top: 12%;
}

.main-headerline {
  font-size: 3em;
  color: #000;
  font-weight: 700;
  width: 45%;
}

@media screen and (max-width: 768px) {
  .main-headerline,
  .w-50 {
    margin-left: 10%;
  }
  .main-headerline{
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .main-headerline {
    margin-bottom: 18%;
  }

  
}

.details {
  margin-left: 10%;
}

.w-50 {
  font-size: 12px;
  line-height: 1.8em;
  font-weight: 500;
}

.btn-dark {
  font-size: 0.6em;
  border-radius: 20px;
  height: 42px;
}



.btn-light {
  font-size: 0.6em;
  border: 1px solid rgb(196, 196, 196);
  width: 100px;

  background-color: transparent;
  font-weight: 600;
  margin-top: 17%;
  margin-bottom: 5%;
}

.wrapper-one {
  background-image: url("./img/background-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .main-headerline {
    font-size: 2em;
  }

  ul.sign-in-up {
    display: none;
  }

  ul.menus {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-one {
    background-image: none;
  }
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.wrapper-two {
  background-image: url("./img/background-2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 125vh;
  padding-left: 15%;
  top: 0;
  left: 0;
  position: relative;
}

.wrapper-two-headerline {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 17%;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  .wrapper-two-headerline {
    width: 80%;
    color:rgb(0, 0, 0)
  }
}

.w-15 {
  width: 18%;
  color: white;
  font-size: small;
}

.upper-image {
  width: 45%;
  height: 50%;
  background-image: url("./img/upper-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 25%;
  left: 38%;
}

.top-line {
  height: 220px;
  position: absolute;
  top: 68%;
  left: 68%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #000;
  font-weight: 600;
  width: max-content;
}

@media screen and (max-width: 1530px) {
  .top-line {
    height: 160px;
  }
}

.parent-three {
  background-color: #f0f2f1;
  padding-top: 8%;
  padding-bottom: 8%;
}

.wrapper-three-headerline {
  font-size: 2em;
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: 17%;
  line-height: 1.2em;
  min-width: 300px;
}

p.w-three-15 {
  width: 33%;
  color: rgb(0, 0, 0);
  font-size: small;
}

.expertises {
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(224, 224, 224);
}

.expertises:last-of-type{
  border-right: none;
}

.sub-img {
  width: 50%;
  height: auto;
}

.sub-headline {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 1.2em;
  white-space: nowrap;
}

.btn-light {
  font-size: 0.6em;
  border-radius: 20px;
  height: 42px;
}

.container-part {
  box-shadow: 0px 25px 25px 0px rgba(209, 209, 209, 0.75);
}

@media screen and (max-width: 992px) {
  .container-part{
    box-shadow: none
  }
  
}

.wrapper-four {
  background-image: url("./img/background-4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 125vh;
}

.p-four-headline {
  font-size: 3em;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 45%;
}

.p-four-text {
  color: rgb(255, 255, 255);
  font-size: small;
  width: 40%;
}

.btn-primary {
  font-size: 0.6em;
  border-radius: 20px;
  height: 42px;
}

.text-grey {
  color: rgb(196, 196, 196);
  font-size: small;
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
